<div class="charts-container">

  <div class="top-charts">
    
    <div class="bills chart">
      <h2>Estado de Facturas</h2>
      <canvas id="bills-chart"></canvas>
    </div>
    
    <div class="customers chart">
      <h2>Clientes por País</h2>
      <canvas id="customers-chart"></canvas>
    </div>
    
  </div>
  
  <div class="bottom-charts">
    
        <div class="orders chart">
          <h2>Estado de Pedidos</h2>
          <canvas id="orders-chart"></canvas>
        </div>


    <div class="sales chart">
      <h2>Total Ventas Anuales</h2>
      <canvas id="sales-chart"></canvas>
    </div>

  </div>
  
</div>
