<app-dashboard></app-dashboard> 

 <div class="top_box">
  <div class="top">
    <p class="top_p">Inicio</p>
  </div>
</div> 

<app-charts></app-charts>

<!-- <div class="container">
  <a routerLink="../customers">
    <div class="container__target">
        <h3>Clientes</h3>
      <div class="imagen">
        <img
          class="img"
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRmq5NIKvHxd6PTtB4y_5qSCVEaqowrxbG_qw&usqp=CAU"
          alt=""
        />
      </div>
    </div>
  </a>
  <a routerLink="../orders">
    <div class="container__target">
        <h3>Pedidos</h3>
      <div class="imagen">
        
        <img
          class="img"
          src="https://softimiza.co/images/Noticias_2021/gestion-de-pedidos1.jpg"
          alt=""
        />
      </div>
    </div>
  </a>
  <a routerLink="../bills">
    <div class="container__target">
        <h3>Facturas</h3>
      <div class="imagen">
        <img
          class="img"
          src="https://img.remediosdigitales.com/a86820/adult-3327336_640/450_1000.jpg"
          alt=""
        />
      </div>
    </div>
  </a>
</div> --> 

<app-footer></app-footer>
