.top_box {
  //  border: solid 2px black;
  height: 6%;
  display: flex;
  align-items: center;
  justify-content: flex-end;

  .top {
    border-radius: 0 0 0 30px;
    border-bottom: solid 15px var(--grey-light);
    border-left: solid 15px var(--grey-light);
    background-color: var(--red-light);
    width: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);

    & .top_p {
      color: var(--white);
      font-size: 1.7rem;
      text-align: right;
      padding: 1rem;
    }
  }
}

.orders {
  // border: solid 2px blue;
  display: flex;
  justify-content: center;
  text-decoration: none;
  padding: 0;
  height: 74vh;
  align-items: center;
}

.orders__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  width: 40em;
  height: 40vh;
  margin: 0;
  background-color: var(--red-light);
  border: solid 20px var(--grey-light);
  box-sizing: content-box;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  border-radius: 4rem;

  .orders_information{
    // border: solid 1px white;
    margin:1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width:auto;
    height: auto;
  }
  .products_p{
    padding:1rem;
    margin-bottom:1rem;
    border-bottom: solid 1px white;
    color: white;
    font-size:1.5rem;
    text-align: center;
    font-weight: bolder;
  }

  .components_p{
    color: white;
    font-size:1.5rem;
    text-align: center;
    font-weight: bolder;
  }
}


.buttons {
    &__boton {
      background-color: red;
      color: white;
      border: none;
      width: auto;
      height: auto;
      padding: 10px 20px;
      border-radius: 5px;
      box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
      transition: all 0.3s ease;
      cursor: pointer;
  
      &:hover {
        background-color: white;
        color: red;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);
      }
    }
  }



  
  