<app-dashboard></app-dashboard> 
<div class="top_box">
  <div class="top">
    <p class="top_p">Cambio de contraseña</p>
  </div>
</div>

<div class="change_container">
  <form
    class="change_form"
    #changePasswordForm="ngForm"
    (ngSubmit)="onSubmit(changePasswordForm)"
  >
    <div class="change_card">
      <label class="change_label" for="password"
        ><p class="change_p">Aquí puedes crear tu contraseña</p></label
      >
      <p class="change_password">Escribe tu antigua contraseña</p>
      <input
        class="change_input"
        type="password"
        id="password2"
        name="currentPassword"
        placeholder="Contraseña antigua"
        [(ngModel)]="currentPassword"
        required
      />
      <p class="change_password">Escribe tu nueva contraseña</p>
      <input
        class="change_input"
        type="password"
        id="password"
        name="newPassword"
        placeholder="Contraseña nueva"
        [(ngModel)]="newPassword"
        required
      />
      <button class="change_button" type="submit">
        Clic aquí para confirmar el cambio de contraseña
      </button>
    </div>
  </form>
</div>

<app-footer></app-footer>
